<mj-section>

  <mj-column>

    <mj-text align="center" mj-class="hdText">
      <h1>Simple Text</h1>
    </mj-text>

    <mj-text>
      <p>Praesent at nulla elementum, interdum metus a, cursus erat. Nunc vitae orci convallis, scelerisque enim non, ornare ligula. Quisque purus velit, pellentesque sit amet ultrices rhoncus, semper vel massa.</p>
    </mj-text>

  </mj-column>

</mj-section>